<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename ='favicon.ico') }}">

    <title>Who's That Champion?</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename ='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename ='css/cover.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename ='css/rithms.css') }}" rel="stylesheet">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename ='js/bootstrap.min.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename ='js/rithms.js') }}"></script>
    <script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
  </head>
 
  <body id="urf-body" style="background: url({{ url_for('static', filename ='images/cover.png')}}) no-repeat center center fixed">

        <div class="container">
        		<div class="row" id="logo-row">
        			<div class="col-xs-6">
        				<a href="/"><img id="logo" src='{{ url_for('static', filename = 'images/logo.png' )}}'/></a>
        			</div>
        			<div id="streak-div" class="col-xs-6">
        				<p class="streak-p inline">Streak: <span id="streak">{{session['streak']}}</span></p> 
        				<a class="twitter-share-button inline"
                href="https://twitter.com/share"
                data-count="none"
                data-url="http://whosthatchampion.com"
                data-text="I just went on a win streak playing &quot;Who's That Champion?&quot; at"
                data-hashtags="LeagueOfLegends, WhosThatChampion">
                Tweet
                </a>
        			</div>
        		</div>
        		<br>
                <div class="row">
	                <div id="blue-team-div" class="col-xs-12 section">
	                  <div class="col-xs-4 col-xs-offset-4 team-name">
	                  	<img class="team-img" src='{{ url_for('static', filename = 'images/misc/scoreboardicon_gem_100.png' )}}'/> <p class="inline">Blue Team</p>
	                  </div>
	                  <div id="blue-team" class="col-xs-12 col-xs-offset-1">
	                    {% for participantId, full in data['champion_full_data']['Team1'] %}
	                    	<div class="col-xs-10 col-sm-2">
	                    		<input onClick="changeChampIcon(this.src, {{participantId}}, 1)" type="image" src="{{ url_for('static', filename = 'images/champion/' + full)}}" class="champ-select img-rounded player-blue" id="{{participantId}}" value="{{participantId}}"/>
	                    	</div>
	                    {% endfor %}
	                  </div>
	              </div>
              </div>
                <div class="row">
	                <div id="red-team-div" class="col-xs-12 section">
	                  <div class="col-xs-4 col-xs-offset-4 team-name">
	                  	<img class="team-img" src='{{ url_for('static', filename = 'images/misc/scoreboardicon_gem_200.png' )}}'/> <p class="inline">Red Team</p>
	                  </div>
	                  <div id="red-team" class="col-xs-12 col-xs-offset-1">
	                    {% for participantId, full in data['champion_full_data']['Team2'] %}
	                    	<div class="col-xs-10 col-sm-2">
	                    		<input onClick="changeChampIcon(this.src, {{participantId}}, 2)" type="image" src="{{ url_for('static', filename = 'images/champion/' + full)}}" class="champ-select img-rounded player-red" id="{{participantId}}" value="{{participantId}}"/>
	                    	</div>
	                    {% endfor %}
	                  </div>
	                 </div>
                </div>
                <input id="guess" size="5" type="hidden" name="a">
                <div class="row">
                	<div id="gray-div" class="col-xs-12 section">
		                <div id="match-details" class="row">
			                <div class="col-xs-10 col-xs-offset-1">

			                	<div id="match-history-item">

			                		<!--Victory tag-->
			                		<div id="winner" class="mh-item-div"
			                		style=" 
			                		{% if data['stats']['winner'] %}
			                			background-color:green;
			                		{% else %}
			                			background-color:red;
			                		{% endif %}
			                		">
				                	</div>

				                	<!--Champ Icon-->	
				                	<div id="champion-icon" class="grad mh-item-div">
				                		<img src="{{url_for('static', filename = 'images/champion/Random.png')}}" id="champ-icon" class="img-rounded champ-icon-guess"/>
				                	</div>

				                	<!--Summoner Spells-->
				                	<div class="grad mh-item-div">
				                		<div class="top-row-img-div">
				                			<div>
				                				<img id="spell1" src="{{url_for('static', filename = 'images/spell/' + data['spell1']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                		<div>
				                			<div>
				                				<img id="spell2" src="{{url_for('static', filename = 'images/spell/' + data['spell2']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                	</div>

				                	<!--Description-->
				                	<div id="description-div" class="grad mh-item-div">
			                			<div class="mh-text-lg">
			                				{% if data['stats']['winner'] %}
			                					<p id="win-cond" style="color:green">Victory</p>
			                				{% else %}
			                					<p id="win-cond" style="color:red">2nd Place</p>
			                				{% endif %}
			                			</div>

			                			<div class="mh-text-md">
			                				<p class="text-norm">Ultra Rapid Fire</p>
			                			</div>

			                			<div class="mh-text-md">
			                				<p class="text-norm">Summoner's Rift</p>
			                			</div>
				                	</div>

				                	<!--Item-->
				                	<div class="grad mh-item-div">
				                		<div class="top-row-img-div">
				                			<div>
				                				<img id="item0" src="{{url_for('static', filename = 'images/item/' + data['item0']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                		<div>
				                			<div>
				                				<img id="item3" src="{{url_for('static', filename = 'images/item/' + data['item3']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                	</div>

				                	<div class="grad mh-item-div">
				                		<div class="top-row-img-div">
				                			<div>
				                				<img id="item1" src="{{url_for('static', filename = 'images/item/' + data['item1']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                		<div>
				                			<div>
				                				<img id="item4" src="{{url_for('static', filename = 'images/item/' + data['item4']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                	</div>

				                	<div class="grad mh-item-div">
				                		<div class="top-row-img-div">
				                			<div>
				                				<img id="item2" src="{{url_for('static', filename = 'images/item/' + data['item2']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                		<div>
				                			<div>
				                				<img id="item5" src="{{url_for('static', filename = 'images/item/' + data['item5']['full'])}}" class="img-rounded mh-img"/>
				                			</div>
				                		</div>
				                	</div>


				                	<div class="grad mh-item-div">
				                		<img id="item6" src="{{url_for('static', filename = 'images/item/' + data['item6']['full'])}}" class="img-rounded mh-img"/>
				                	</div>


				                	<div id="kd-details-div" class="grad mh-item-div">
			                			<div class="mh-text-lg">
			                				<p id="kd" class="text-norm inline">{{data['stats']['kills']}}/{{data['stats']['deaths']}}/{{data['stats']['assists']}}</p>

							                <span data-placement="top" data-toggle="tooltip" title="View Champion Kills Map">
											    <a href="#myModal" role="button" data-toggle="modal"><span class="glyphicon glyphicon-eye-open text-norm mh-text-sm" aria-hidden="true"></span></a>
											</span>

											<!-- Champion Kills Modal -->
							                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							                  <div class="modal-dialog">
							                    <div class="modal-content">
							                      <div class="modal-header" id="map-modal-header">
							                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							                        <h4 class="modal-title" id="myModalLabel">Champion Kill Event Map</h4>
							                      </div>
							                      <div id ="map" class="modal-body" style="text-align: center">
							                        <script>loadMap({{data['event_data']['champ_kills']}})</script>
							                      </div>
							                      <div class="modal-footer">
							                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							                      </div>
							                    </div>
							                  </div>
							                </div> 
				                		</div>

				                		<div class="mh-text-sm">
			                				<img src="{{url_for('static', filename = 'images/misc/gold.png')}}" class="img-rounded"/><p id="gold-earned" class="text-norm inline">{{data['formatted_gold']}}</p>    
			                				<img src="{{url_for('static', filename = 'images/misc/minion.png')}}"class="img-rounded"/><p id="creep-score" class="text-norm inline">{{data['stats']['minionsKilled'] + data['stats']['neutralMinionsKilled']}}</p>
				                		</div>
				                		<div id="match-btn" class="btn-group btn-group-sm pad-top-def" role="group">
				                			<form class="form" action="" method="post" role="form">
				                				<div id="input-highscore" class="input-group input-group-sm dont-display">
											      <input id="username-input" type="text" class="form-control" placeholder="Username">
											        <input id="submit-score" type="submit" class="btn btn-primary btn-xs" value="Submit Highscore">
											    </div>
				            					<input id="final-answer-btn" type="submit" class="btn btn-primary final-answer" value="Final Answer">
				            					<input id="next-btn" type="submit" class="btn btn-primary next dont-display" value="Next">
				            					<input id="restart-btn" type="submit" class="btn btn-primary restart dont-display" value="Play Again">
			            					</form>
				                		</div>
			                		</div>
			                	</div>
				            </div>
			            </div>
			            <div id="correct-alert" class="alert alert-success dont-display" role="alert"><span class="sr-only">Close</span></button><strong>Correct!</strong> Click next to continue.</div>
		                <div id="wrong-alert" class="alert alert-danger dont-display" role="alert"><span class="sr-only">Close</span></button><strong>Wrong! </strong><span id="incorrect-msg">Streak has ended.</span></div>
			            <div class="row">
			            	<div class="col-xs-10 col-xs-offset-1">
				            	<table id="skill-table" class="table table-bordered">
				            		<thead>
				            			<tr>
				            				<th class="skill-table-header">Skill</th>
				            				{% for i in range(1, 19) %}
				            				<th class="skill-table-header">{{i}}</th>
				            				{% endfor %}
				            			</tr>
				            		</thead>
				            		<tbody>
				            		<!-- Probably should have structured this data better, owell -->
				            			<tr id="q-row">
				            				{% set diff = 18 -  data['event_data']['skill_level_up']|length %}
				            				<td class="title-td">Q</td>
				            				{% for i in range(data['event_data']['skill_level_up']|length)%}
				            					{% if data['event_data']['skill_level_up'][i]  == 1 %}
				            						<td><img src="{{url_for('static', filename = 'images/misc/circle.png')}}"class="img-rounded"/></td>
				            					{% else %}
				            						<td></td>
				            					{% endif %}
				            				{% endfor %}
				            				{% for i in range(diff) %}
				            					<td></td>
				            				{% endfor %}
				            			</tr>
				            			<tr id="w-row">
				            				<td class="title-td">W</td>
				            				{% for i in range(data['event_data']['skill_level_up']|length)%}
				            					{% if data['event_data']['skill_level_up'][i]  == 2 %}
				            						<td><img src="{{url_for('static', filename = 'images/misc/circle.png')}}"class="img-rounded"/></td>
				            					{% else %}
				            						<td></td>
				            					{% endif %}
				            				{% endfor %}
				            				{% for i in range(diff) %}
				            					<td></td>
				            				{% endfor %}
				            			</tr>
				            			<tr id="e-row">
				            				<td class="title-td">E</td>
				            				{% for i in range(data['event_data']['skill_level_up']|length)%}
				            					{% if data['event_data']['skill_level_up'][i]  == 3 %}
				            						<td><img src="{{url_for('static', filename = 'images/misc/circle.png')}}"class="img-rounded"/></td>
				            					{% else %}
				            						<td></td>
				            					{% endif %}
				            				{% endfor %}
				            				{% for i in range(diff) %}
				            					<td></td>
				            				{% endfor %}
				            			</tr>
				            			<tr id="r-row">
				            				<td class="title-td">R</td>
				            				{% for i in range(data['event_data']['skill_level_up']|length)%}
				            					{% if data['event_data']['skill_level_up'][i]  == 4 %}
				            						<td><img src="{{url_for('static', filename = 'images/misc/circle.png')}}"class="img-rounded"/></td>
				            					{% else %}
				            						<td></td>
				            					{% endif %}
				            				{% endfor %}
				            				{% for i in range(diff) %}
				            					<td></td>
				            				{% endfor %}
				            			</tr>
				            		</tbody>
				            	</table>
			            	</div>
			            </div>
	           		</div>
	           </div>    

        	</div>

          <div class="row pad-top-def">
            <div id="footer-stuff" class="col-xs-12">
            	<p>| <a href="http://github.com/rithms">Source Code</a> | <a href="#faq-modal" data-toggle="modal">FAQ</a> | <a href="#instructions-modal" data-toggle="modal">How To Play</a> | <a href="/high_scores/">High Scores</a> |</p> 
            </div>
          </div>

          <!-- How To Play Modal -->
		<div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="instructions-model-label" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">How To Play</h4>
		      </div>
		      <div class="modal-body">
		      	<h4>Details:</h4>

		      	<p>1.) Guess which champion the match details belong to.</p>

		      	<p>2.) Brag to your friends about your streak.</p>

		      	<p>3.) Refer to #1.</p>

		      	</p>
		      	<p class="pad-top-def">~Good Luck!~</p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- FAQ Modal -->
		<div class="modal fade" id="faq-modal" tabindex="-1" role="dialog" aria-labelledby="faq-model-label" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">F.A.Q.</h4>
		      </div>
		      <div class="modal-body">
		      	<h4>What is this?</h4> 
		      	<p><span class="red-highlight">WhosThatChampion.com</span> is a web app created by <a class="blue-highlight" href="http://twitter.com/itsRithms">Rithms</a> as a submission for the first Riot Games API Challenge. The goal of the challenge was to create a piece of software that utilizes Ultra Rapid Fire (U.R.F.) game mode data provided by the <a class="blue-highlight" href="https://developer.riotgames.com">Riot Games API</a>.</p>
		      	<br>
		      	<h4>About</h4>
		      	<p><span class="red-highlight">WhosThatChampion.com</span> was inspired by the popular animated TV series Pokemon, more specifically the commercial segment "Who's that Pokemon?", in which a silhouette of a pokemon is shown, and viewers have to guess which Pokemon it is during the commercial break. 
		      	</p>
		      	<p>Although the initial idea for the web app wasn't originally based off Pokemon, it popped into my head while working on the project, I saw an opportunity to integrate the two, and I just went with it.</p>
		      	<br>
		      	<h4>Details</h4>
		      	<p>
		      	For those interested, details about the full stack used to create this project and more can be found on my <a class="blue-highlight" href="http://github.com/rithms">GitHub.</a>
		      	</p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

      </div>
    </div>

  </body>
</html>