.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.content {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

#map svg {
}

#map img {

}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.grad {
    height: 200px;
    background: -webkit-linear-gradient(#f6f1e5, #e0ce98); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f1e5, #e0ce98); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f1e5, #e0ce98); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f1e5, #e0ce98); /* Standard syntax (must be last) */
}

table {
    width:50%;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.alert {
    height: 10%;
}

#urf-body {
    background-size:cover
}

#logo {
    width: 75%;
}

#logo-row {
    padding-top:20px; 
    font-size: 30px;
}

#streak-div {
    padding-top: 10px;
}

.inline {
    display: inline;
}

.section {
    padding-bottom: 15px; 
    border-right-width: 2px; 
    border-left-width: 2px; 
    border-style: solid; 
    border-color:rgba(50, 50, 50, 1);
}

#blue-team-div {
    background-color: rgba(0, 0, 225, .15); 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-top-width: 2px; 
    border-bottom-width: 1px;
}

#red-team-div {
    background-color: rgba(225, 0, 0, .15);
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.team-name {
    margin-top:15px;
    margin-bottom:20px;
    font-size: 25px;
}

.team-img {
    display: inline-block; 
    width: 15px; 
    margin-top: -5px;
}

.champ-select {
    border-width: 1px; 
    border-style: solid;
    width:100px;
}

.player-blue {
    border-color:rgba(0, 0, 225, .5);
}

.player-red {
    border-color:rgba(225, 0, 0, .5);
}

#gray-div {
    background-color: rgba(50, 50, 50, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 20px; 
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    padding-bottom: 0px;
}

#match-details {
    padding-bottom:20px;
}

#match-history-item {
    display: table-row;
    border-radius: 10px;
    height: 100px;
}

.mh-item-div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    padding: 5px;
}

#winner {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 5px;
}

#champion-icon {
    padding-left: 10px;
}

#champ-icon {
    border-width: 3px;
    border-style: solid;
}

.champ-icon-guess {
    border-color: gray;
}

.top-row-img-div {
    padding-bottom: 5px;
}

#description-div {
    width: 300px;
    padding: 0px 2px 2px 15px;
    text-align:left;
}

.mh-text-lg {
   font-size:25px;
}

.mh-text-md {
    font-size:18px;
}

.mh-text-sm {
    font-size:15px;
}

.text-norm {
    color: black;
}

#kd-details-div {
    width: 300px;
    padding: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-body {
    color: black;
    text-align: left;
}

.modal-title {
    color: black;
}

.red-highlight {
    color: #C44949;
}

.blue-highlight {
    color: #4984C4;
}

.pad-top-def {
    padding-top: 15px;
}

.dont-display {
    display: none;
}

.skill-table-header {
    text-align: center;
    background: -webkit-linear-gradient(#151515, #000000);
    background: -o-linear-gradient(#151515, #000000);
    background: -moz-linear-gradient(#151515, #000000);
    background: linear-gradient(#151515, #000000);
}

#q-row, #e-row {
    background: -webkit-linear-gradient(#383838, #101010);
    background: -o-linear-gradient(#383838, #101010);
    background: -moz-linear-gradient(#383838, #101010);
    background: linear-gradient(#383838, #101010);
}

#w-row, #r-row {
    background: -webkit-linear-gradient(#606060, #323232);
    background: -o-linear-gradient(#606060, #323232);
    background: -moz-linear-gradient(#606060, #323232);
    background: linear-gradient(#606060, #323232);
}

.title-td {
    background: -webkit-linear-gradient(#151515, #000000);
    background: -o-linear-gradient(#151515, #000000);
    background: -moz-linear-gradient(#151515, #000000);
    background: linear-gradient(#151515, #000000);
}

.footer-stuff {
    color:gray;
}

.footer-stuff a {
    text-decoration: none;
}

.score-sub-header {
    padding-bottom: 20px;
}

.streak-p {
    margin-left:160px; 
    margin-right: 10px;
}

.mh-img {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(185, 175, 125, 1);
}

.modal-content {
    background: rgba(30, 30, 30, 1);
}

.modal-header {
  border-bottom: 1px solid #323232;
}

.modal-footer {
  border-top: 1px solid #323232;
}

.modal-body, .modal-title {
    color: #D6D6D6;
}

.btn-default {
    background-color: #D6D6D6;
}

.logo-img {
    width: 100%;
}